body {
    font-family: 'Prata', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}


.red-color {
    color: red;
}

.half-width {
    width: 50%;
    padding-left: 4%;
}

.half-width img {
    width: 80%;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.portfolio {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}